<footer class="footer bg-dark py-3 mt-auto" style="height: 90px;">
    <div class="container">
        <span class=" text-secondary" style="font-size: 20px; margin-top: 5px;">&copy; StrategiX 2020</span>
    </div>
</footer>
