html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Set html and body height to 100% */
}

.bgimage {
    height: 84vh;
    background-image: url('/images/taxBackground.jpg');
    background-size: cover;
    position: relative;
}
/* text css above hero image*/
.jsin {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    font-size: 4.5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text{
    font-size: 60px;
}
.welcome
{
    font-size: 60px;
}